{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gear</title>
</head>
<body>  
    {% include "navbar.html" %}
    <div>
        <ul>
            {% for item in pieces %}
            <li class="need"><a href="{% url 'backend:piece' pk=item.id %}">{{item.name}}</li></a>
            {% endfor %}
        </ul>
    </div>
</body>