<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{cat}}</title>
</head>
<body>  

    {% include "navbar.html" %}

    <h1>{{cat}}</h1>
    <br>
    <nav>
        <a href="{% url 'backend:gearcat' cat=1 %}">Cam</a>
        <a href="{% url 'backend:gearcat' cat=2 %}">Tricam</a>
        <a href="{% url 'backend:gearcat' cat=3 %}">Nut</a>
        <a href="{% url 'backend:gearcat' cat=4 %}">Ball Nut</a>
        <a href="{% url 'backend:gearcat' cat=5 %}">Hex</a>
        <a href="{% url 'backend:gearcat' cat=6 %}">Big Bro</a>
    </nav>
    <br>
    <div>
            {% for item in gear %}
            <a href="{% url 'backend:piece' pk=item.id %}">{{item.name}}</a><br>
            {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if gear.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ gear.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ gear.number }} of {{ gear.p.num_pages }}.
            </span>
    
            {% if gear.has_next %}
                <a href="?page={{ gear.next_page_number }}">next</a>
                <a href="?page={{ gear.p.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>