{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gear</title>
</head>
<body>  

    {% include "navbar.html" %}

    <h1>Gear</h1>
    
    <div>
            {% for item in gear %}
            <a href="{% url 'backend:piece' pk=item.id %}">{{item.name}}</a><br>
            {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if contacts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ gear.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ gear.number }} of {{ gear.p.num_pages }}.
            </span>
    
            {% if gear.has_next %}
                <a href="?page={{ gear.next_page_number }}">next</a>
                <a href="?page={{ gear.p.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>